# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environnement
.env
.venv
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Tests
.pytest_cache/
.coverage
htmlcov/

# Outils locaux
.claude/
sondage-app/
